---
---

// Overrides
$max-width: 1300px;

// Import default theme styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// Custom CSS rules for specific adjustments
.page__content p {
  font-size: 0.8em; // Adjust main content font size
}

.author__avatar img {
  width: 150px;
  height: 150px;
}